# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
 
* Languages of Data Science 
* Libraries for Data Science 
* Application Programming Interfaces (APIs) 
* Collaborative Work

## Some of the popular languages that Data Scientists use are:
1. Python 
2. R 
3. SQL 
4. NoSQL


## Some of the commonly used libraries used by Data Scientists include|
  1. Pandas
  2. ggplot
  3. Scikit-learn
  4. Numpy

 Exercise 6
 
 |Data Science Tools|
 -------------------------------
 |Jupyter Notebook |
 |Rstudio|
 |Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

(3*4)+5
###### This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

## Author:

Ainara Belen Andreoli